# folders 
x64/
Tetris/
SFML tutorial/
Debug/
Release/
.vs/

# files
Tetris.sln
SFML tutorial.vcxproj.filters
SFML tutorial.vcxproj
SFML tutorial.vcxproj.user
Tetris.aps
Tetris.rc
Tetris1.aps
Tetris1.rc
resource.h
resource1.h
resource2.h
resource3.h
resource4.h
resource5.h
resource6.h